<div>
  <div class="col-md-12">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        placeholder="title"
        [(ngModel)]="articleDetails.title"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        placeholder="title"
        [(ngModel)]="articleDetails.description"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        placeholder="title"
        [(ngModel)]="articleDetails.content"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="addArticle()">اضافه کردن</button>
    </div>
  </div>
</div>
