<div>
  <div class="col-md-12">
    <form #articleForm="ngForm" (ngSubmit)="addArticle(articleForm)" >
    <div class="form-group">
      <input
      name="title"
        class="form-control"
        type="text"
        placeholder="title"
        ngModel
        #title="ngModel"
      />
    </div>
    <div class="form-group">
      <input
      name="description"
        class="form-control"
        type="text"
        placeholder="description"
        ngModel
        #description="ngModel"
      />
    </div>
    <div class="form-group">
        <div class="app-editor p-2 rounded-2" #editable [(ngModel)]="content" [ngModelOptions]="{standalone: true}" [innerHtml]="content"></div>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit">اضافه کردن</button>
    </div>
    </form>
  </div>
</div>
