<main>
  <div class="container">
    <div class="row">
      <section>
        <div class="text-center mb-5 pb-5">
          <h1 class="display-5 fw-bold">وبسایت لنجرود</h1>
          <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
              به اولین و تنها وبسایت روستای بزرگ لنجرود خوش آمدید
            </p>
            <p class="manifest-alert">
              این وبسایت به صورت آزمایشی راه‌اندازی شده است و به زودی تمامی
              بخش‌های آن فعال خواهد شد
            </p>
            <img
              class="d-block mx-auto mb-4"
              src="../../../assets/images/lanjrud.png"
              alt=""
            />
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button
                type="button"
                [routerLink]="['/about']"
                class="btn btn-primary btn-lg px-4 gap-3"
              >
                درباره لنجرود
              </button>
              <a
                type="button"
                href="https://wa.me/989195063188"
                class="btn btn-outline-secondary btn-lg px-4"
                target="_blank"
              >
                ارسال نظر
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
