<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"> {{ title }}</a>
    <div *ngIf="isMobile">
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon style="font-size: 30px;">dehaze</mat-icon>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mb-2 mb-md-0 col-md-10">
        <li class="nav-item">
          <a
            class="nav-link active"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            >صفحه اصلی</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">درباره</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles']" tabindex="-1"
            >مقالات</a
          >
        </li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light mx-1">ورود</button>
        <button type="button" class="btn btn-warning mx-1">عضویت</button>
      </div>
    </div>
  </div>
</nav>

<mat-menu #menu="matMenu">
  <button mat-menu-item  [routerLink]="['/']">
    <mat-icon>home</mat-icon>
    صفحه‌اصلی</button>
  <button mat-menu-item [routerLink]="['/articles']">مطالب</button>
  <button mat-menu-item [routerLink]="['/about']">درباره</button>
</mat-menu>
