<div class="container">
  <div class="row">
    <a class="btn btn-primary" [routerLink]="['/articles/create']">ساختن</a>
  </div>
  <div class="row">
    <div class="col-md-3 p-3" *ngFor="let article of articles; let i = index">
      <div class="card shadow-sm rounded-lg">
        <img src="../../../../assets/images/lanjrud.png" class="card-img p-2" />
        <div class="card-body">
          <h3 class="card-title">{{ article.title }}</h3>
          <p class="card-text">{{ article.description | slice: 0:40 }}...</p>
          <!-- <p class="card-text">{{ article.content | slice: 0:30 }}...</p> -->
          <a
            class="btn btn-primary"
            [routerLink]="['/articles/' + article._id]"
          >
            خواندن مقاله
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
