<main>
  <div class="container">
    <div class="row">
      <section>
        <div class="text-center mb-5 pb-5">
          <h1 class="display-5 fw-bold">مطالب و مقالات</h1>
          <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
              در این قسمت مطالب و مقالات کاربران سایت قرار داده می‌شود
            </p>
            <p class="manifest-alert">
              این وبسایت به صورت آزمایشی راه‌اندازی شده است و به زودی تمامی
              بخش‌های آن فعال خواهد شد
            </p>
          </div>
        </div>
      </section>
      <section>
        <div>
          <app-article-list></app-article-list>
        </div>
      </section>
    </div>
  </div>
</main>
