
.mat-form-field {
  width: 100% !important;
  font-family: 'Shabnam', sans-serif !important;
}

.manifest-alert {
  color: #fff;
  background-color: #ee3d4e;
  border-color: #ee3d4e;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
}

// mobile size styles
@media (max-width: 575.98px) {
  .manifest-alert {
    font-size: 0.7rem;
  }
}
