@mixin use-flex($d: row, $j: center, $a: center) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

@mixin typography(
  $f: 'Shabnam',
  $s: 14px,
  $st: normal,
  $w: 700,
  $lh: 21px,
  $ls: 0em,
  $ta: right
) {
  font-family: $f !important;
  font-size: $s !important;
  font-style: $st !important;
  font-weight: $w !important;
  line-height: $lh !important;
  letter-spacing: $ls !important;
  text-align: $ta !important;
}

@mixin disableTextSelection {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera
                                  and Firefox */
}

@mixin bg {
  background-color: red !important;
}
