<div class="container my-5">
  <div
    class="
      row
      p-4
      pb-0
      pe-lg-0
      pt-lg-5
      align-items-center
      rounded-3
      border
      shadow-lg
    "
  >
    <div class="col-lg-10 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">اطلاعات روستای لنجرود استان مرکزی</h1>
      <p class="lead">
        روستای لنجرود بعد از روستای حصار دومین روستای پرجمعیت دهستان پل دوآ ب
        بخش زالیان شهرستان شازند محسوب می شود که از پیشینه تاریخی برخوردار
        است.این روستا در 36 کیلومتری شمال غربی شهر شازند واقع شده است.<br />
        روستای لنجرود موقعیت سوق الجیشی منحصر به فردی دارد و از ناحیه شرق توسط
        سلسله کوه های مرتفع کوه لجور ، همایی ، حسن آور و از غرب توسط کوه های
        آلاداغ ،پلویی و کوه دوسر در حصار گرفته شده است.از این رو در دوره تاریخی
        کارکرد امنیتی – نظامی در منطقه داشته است.<br />
        وجود دو تپه با کارکرد امنیتی در شمال شرق و جنوب شرق این روستا با نام های
        محلی تپه گنک و تپه برمک موید پیشینه تاریخی این روستا است. در نقشه تراکم
        آبادی و جمعیت که از دوره تاریخی استان مرکزی در دست است ناحیه پل دوآب و
        لنجرود یکی از مناطق پرجمعیت شهر کرج ابودلف (آستانه فعلی) بوده است.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button
          type="button"
          [routerLink]="['/']"
          class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
        >
          صفحه اصلی
        </button>
        <a
          type="button"
          href="https://wa.me/989195063188"
          class="btn btn-outline-secondary btn-lg px-4"
          target="_blank"
        >
          ارسال نظر
        </a>
      </div>
    </div>
    <!-- <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img
        class="rounded-lg-3"
        src="../../../assets/images/lanjrud.png"
        alt=""
        width="720"
      />
    </div> -->
  </div>
</div>
